@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--width: 10rem;
}

body {
	@apply scrollbar-thin scrollbar-thumb-yellow-100 scrollbar-track-[#111];
	background-color: #111;
}

.tabs-grid {
	@apply mx-auto;
	width: 84%;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--width));
	grid-template-rows: repeat(auto-fill, 3.2rem);
	gap: 1.2rem;
}

.tablink {
	width: var(--width);
	@apply rounded-md shadow-md shadow-main-black/50 h-12 px-3 text-ellipsis flex items-center justify-center bg-main-black/60 backdrop-blur-sm hover:bg-zinc-400/30 hover:shadow-xl hover:shadow-main-black/40 hover:-translate-y-1 transition-all duration-300 ease-out;
}

.menu-button {
	@apply flex justify-between gap-4 items-center px-3 py-2 rounded cursor-pointer hover:bg-zinc-600/40 transition-colors ease-out duration-150;
}

@keyframes fadeIn {
	from {
		@apply scale-95 opacity-0;
	}
	to {
		@apply scale-100 opacity-100;
	}
}

@keyframes fadeOut {
	from {
		@apply scale-100 opacity-100;
	}
	to {
		@apply scale-95 opacity-0;
	}
}
.MenuContent {
	@apply origin-top-left;
}

.MenuContent[data-state='open'] {
	animation: fadeIn 100ms ease-out;
}

.MenuContent[data-state='closed'] {
	animation: fadeOut 100ms ease-in;
}
