@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'animations.css';

:root {
	--width: 10rem;
}

html {
	@apply scrollbar-thin scrollbar-thumb-[#202023] scrollbar-track-[#111];
	background-color: #111;
}

.tabs-grid {
	@apply mx-auto;
	width: 84%;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--width));
	grid-template-rows: repeat(auto-fill, 3.2rem);
	gap: 1.2rem;
}

.tablink {
	width: var(--width);
	@apply rounded-md shadow-md shadow-main-black/50 h-12 px-3 text-ellipsis flex items-center justify-center bg-main-black/60 backdrop-blur-sm hover: bg-zinc-200/20 hover:shadow-xl hover:shadow-main-black/40 hover:-translate-y-[3px] transition-all duration-200 ease-out;
}

.menu-button {
	@apply flex justify-between gap-4 items-center px-3 py-2 rounded cursor-pointer hover:bg-zinc-600/40 transition-colors ease-out duration-150;
}

.menu-content {
	@apply origin-top-left;
}

.menu-content[data-state='open'] {
	animation: fadeInScale 100ms ease-out;
}

.menu-content[data-state='closed'] {
	animation: fadeOutScale 100ms ease-in;
}

.dialog-content {
	animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.dialog-overlay {
	animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
