@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--width: 10rem;
}

body {
	@apply scrollbar-thin scrollbar-thumb-yellow-100 scrollbar-track-[#111];
	background-color: #111;
}

.tabs-grid {
	@apply mx-auto;
	width: 84%;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--width));
	grid-template-rows: repeat(auto-fill, 3.2rem);
	gap: 1.2rem;
}

.tablink {
	width: var(--width);
}
